@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700|PT+Sans:400,700&subset=cyrillic');

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
}

a {
	text-decoration: none;
}

h2 {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: normal;
}

h3 {
	font-size: 24px;
	line-height: 30px;
	color: #32425c;
}

p {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.main-header {
	background-color: #f3f7f8;
	font-size: 17px;
	margin-bottom: 58px;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.top-menu {
	color: #ffffff;
	background-color: #32425c;
}

.top-menu-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 42px;
 }

.top-menu-wrapper a {
	color: #ffffff;
}

.logo {
	text-transform: uppercase;
	font-size: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #ffffff;
	background-color: #EE3643;
	padding: 0 56px;
	position: relative;
	height: 100%;
}

.logo:hover {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.logo::after {
	content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #9a212a;
    left: 0;
    bottom: -5px;
 }

.top-menu-search {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	height: 100%;
}

.top-menu-search input {
	height: 32px;
	width: 230px;
	border: none;
	padding: 5px 0 5px 40px;
	background: #32425c url('../img/Search.png') no-repeat 15px 50%;
	opacity: 0.5;
	color: #293449;
	height: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.top-menu-search input:hover {
	opacity: 1;
	background: #212a3a url('../img/Search.png') no-repeat 15px 50%;
	color: #212a3a;
}

.top-menu-search input:focus {
	opacity: 1;
	background: #FFFFFF url('../img/search-red.png') no-repeat 15px 50%;
}

.top-menu-search label {
	margin-left: 37px;
	position: absolute;
	top: 11px;
	left: 0;
}

.top-menu-search input[type=text]:active +label {
	color: #FFFFFF;
}

.top-menu-search input[type=text]:focus +label {
	display: none;
}

.top-menu-bookmarks {
	height: 100%;
}

.bookmarks-icon {
	width: 14px;
	height: 16px;
	background-image: url('../img/icon-bookmark.svg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 15px;
	opacity: 0.3;
}

.top-menu-bookmarks:hover .bookmarks-icon {
	opacity: 1;
}

.top-menu-bookmarks:active {
	background-color: #212a3a;
	opacity: 0.3;
}

.top-menu-bookmarks a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
	padding: 0 22px;
}

.top-menu-basket {
	height: 100%;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.basket-icon {
	width: 15px;
	height: 15px;
	background-image: url('../img/icon-cart.svg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 15px;
	opacity: 0.3;
}

.top-menu-basket:hover .basket-icon {
	opacity: 1;
}

.top-menu-basket:active {
	background-color: #212a3a;
	opacity: 0.3;
}

.top-menu-basket a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
	padding: 0 22px;
}

.top-menu-order {
	height: 100%;
}

.top-menu-order a {
	background-color: #63a63e;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
	padding: 0 22px;
}

.top-menu-order a:hover {
	background-color: #5fbb2d;
}

.top-menu-order a:active {
	opacity: 0.5;
}

.middle-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 46px;
}

.middle-menu-info {
	width: 300px;
	padding: 0 53px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.middle-menu-info p {
	font-family: 'Cuprum', sans-serif;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	margin-top: 0;
}

.middle-menu-contacts {
	width: 300px;
	padding-right: 30px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.contacts-phone {
	font-family: 'Cuprum', sans-serif;
	font-size: 21px;
	color: #ee3643;
	border: 3px solid #ffffff;
	margin-bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 8px 11px;
}

.phone-icon {
	width: 19px;
	height: 19px;
	background-image: url('../img/icon-phone.svg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 40px;
}

.contacts-address {
	font-family: 'Cuprum', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin-top: 3px;
	text-align: center;
}

.middle-menu-account {
	width: 300px;
	text-align: right;
}

.login {
	display: inline-block;
	vertical-align: middle;
	font-size: 21px;
	color: #000000;
	background-color: #fff;
	padding: 11px 20px;
	margin-right: 5px;
}

.login-icon {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 17px;
	background-image: url('../img/icon-login.svg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 9px;
}

.login:hover .login-icon {
	background-image: url('../img/icon-login-hover.png');
}

.registration {
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
	color: #000000;
	padding: 11px 24px;
	background-color: #fff;
}

.middle-menu-account a:hover {
	color: #ee3643;
}

.middle-menu-account a:active {
	color: #000000;
	opacity: 0.3;
}

.lower-menu {
	padding-bottom: 45px;
	margin-top: 23px;
}

.lower-menu-menu {
	list-style: none;
	padding: 0 20px;
	background-color: #32425c;
	-webkit-box-shadow: inset 0 -5px 0 #293449;
	        box-shadow: inset 0 -5px 0 #293449;
	color: #ffffff;
	line-height: 17px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.lower-menu-menu a {
	color: #ffffff;
	padding: 21px 31px;
	display: inline-block;
	vertical-align: middle;
}

.lower-menu-menu li:hover {
	background-color: #293449;
}

.lower-menu-menu li:active {
	background-color: #1d2739;
	opacity: 0.5;
}

.promo-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 40px;
}

.promo-item {
	width: 300px;
	height: 123px;
	margin-bottom: 20px;
}

.slider {
	padding: 0;
	margin: 0;
}

.slider-perforator {
	display: none;
}

.slider-wrapper {
	margin-bottom: 0;
	position: relative;
}

.forward {
	position: absolute;
	top: 115px;
	left: 30px;
	background-image: url('../img/icon-left.svg');
	background-repeat: no-repeat;
	width: 28px;
	height: 44px;
	cursor: pointer;
}

.back {
	position: absolute;
	top: 115px;
	right: 13px;
	background-image: url('../img/icon-right.svg');
	background-repeat: no-repeat;
	width: 28px;
	height: 44px;
	cursor: pointer;
}

.slider-paginator {
	position: absolute;
	bottom: 30px;
	left: 290px;
	z-index: 11;

}

.page-btn {
	display: inline-block;
	vertical-align: middle;
	width: 7px;
	height: 7px;
	margin: 0 5px;
	background: white;
	border: 2px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}

.page-btn-active {
	background: #ee3643;
}

.column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.btn {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
	padding: 12px 45px;
	border-radius: 3px;
}

.btn-catalog {
	position: absolute;
	top: 205px;
	right: 400px;
}

.btn:hover {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

.promo-item h3 {
	margin-top: 21px;
	margin-bottom: 21px;
	padding-left: 21px;
	color: #ffffff;
	font-weight: bold;
}

.promo-info {
	font-family: 'Cuprum', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	width: 135px;
	padding: 8px 30px;
	margin-left: 19px;
	border-radius: 4px;
}

.materials {
	background: #ffbf47 url("../img/icon-1.svg") no-repeat 213px 30px;

}

.materials .flag{
    position:relative;
    top: -109px;
    right: -240px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
    z-index:30;
}
.materials .flag-new{
    background: url("../img/flag_new.png") no-repeat 0 0;
}

.materials-info {
	background-color: #e5ac40;
}

.materials-info:hover {
	opacity: 0.2;
}

.materials-info:active {
	opacity: 0.3;
}

.instruments {
	background: #3bbce3 url("../img/icon-2.svg") no-repeat 195px 34px;
}

.instruments-info {
	background-color: #35a9cc;
}

.instruments-info:hover {
	opacity: 0.2;
}

.instruments-info:active {
	opacity: 0.3;
}

.machines {
	background: #dc91d8 url("../img/icon-3.svg") no-repeat 190px 50%;
}

.machines-info {
	background-color: #c682c2;
}

.machines-info:hover {
	opacity: 0.2;
}

.machines-info:active {
	opacity: 0.3;
}

.discount {
	background: #8ed78f url("../img/icon-4.svg") no-repeat 195px 50%;
}

.discount-info {
	background-color: #80c180;
}

.discount-info:hover {
	opacity: 0.2;
}

.discount-info:active {
	opacity: 0.3;
}

.delivery {
	background: #ffc047 url("../img/icon-5.svg") no-repeat 190px 50%;
	margin-bottom: 0;
}

.delivery-info {
	background-color: #e5ac40;
}

.delivery-info:hover {
	opacity: 0.2;
}

.delivery-info:active {
	opacity: 0.3;
}

.section-header {
	background-color: #f9f5f0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 21px;
	padding-right: 25px;
	margin-bottom: 21px;
}

.section-header h2 {
	margin-top: 33px;
	margin-bottom: 33px;
	color: #32425c;
}

.catalog {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}


.catalog-item {
	outline: 1px solid #eaeaea;
    position:relative;
    display:inline-block;
    width:218px;
	font-weight:bold;
	text-align:center;
	vertical-align: middle;
	margin-bottom: 20px;
}

.catalog-items{
    font-size:0;
}

.catalog-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}

.catalog-item .flag-new{
    background:url("../img/flag_new.png") no-repeat 0 0;
}

.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
	border-bottom-color:#367315;
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:3px;
}

.catalog-item .actions .bookmark {
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.catalog-item .actions .buy:hover {
	background-color: #5fbb2d;
	border:3px solid #5fbb2d;
    border-bottom-color:#367315;
}

.catalog-item .actions .buy:active {
	background-color: #518534;
	border:3px solid #518534;
}

.catalog-item .actions .bookmark:hover {
	border:3px solid #32425c;
}

.catalog-item .actions .bookmark:active {
	opacity: 0.3;
}

.catalog-item .actions{
    display:none;
}

.catalog-item:hover .actions{
	display:block;
}

.catalog-item:hover {
	border: none;
	-webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
	        box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.catalog-item .image{
    width:218px;
    height:168px;
}

.catalog-item .image img{
    max-width:100%;
}

.catalog-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:11px;
    margin-bottom:10px;
}

.catalog-item .price-old {
    min-height:20px;
    margin-top:10px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.catalog-item .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
    cursor: pointer;
}

.catalog-item .price:after{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color:#ee3643;
}

.section-header-manufacturers h2 {
	margin: 0;
	padding: 32px 5px;
}

.manufacturers-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 65px;
}

.manufacturer img {
	outline: 1px solid #e7e7e7;
	margin-bottom: 20px;
}

.manufacturer img:hover {
	-webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
	        box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
	background-color: #ffffff;
	outline: none;
}

.manufacturer img:active {
	opacity: 0.3;
	-webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
	        box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
	background-color: #ffffff;
}

.service {
	background-color: #f4f8fa;
	margin-bottom: 45px;
}

.service h2 {
	margin: 0;
	color: #000000;
	padding-top: 65px;
	padding-bottom: 10px;
}

.service-intro {
	margin-bottom: 47px;
}

.service-slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.slide-tabs {
	margin-left: 30px;
	position: relative;
}

.slide-tabs h3 {
	margin: 0;
	margin-top: 20px;
	margin-left: 50px;
}

.slide-tabs p {
	padding-left: 50px;
	padding-top: 13px;
}

.service-slider-control {
	width: 200px;
	padding: 20px;
	background-color: #32425C;
	color: #ffffff;
	border-bottom: 1px solid black;
	font-size: 21px;
	font-weight: bold;
	display: block;
}

.service-slider-controls {
	list-style: none;
	padding-left: 0;
	margin-top: 18px;
	margin-bottom: 100px;
	position: relative;
}

.service-slider-controls:after {
	position: absolute;
	content: '';
	width: 10px;
	height: 250px;
	right: 0;
	top: -20px;
	background-image: url('../img/service-menu_shadow.png');
	background-repeat: no-repeat;
}

.slide-delivery:after {
	position: absolute;
	content: '';
	width: 468px;
	height: 261px;
	left: 200px;
	top: 45px;
	background-image: url('../img/service_slide01.png');
	background-repeat: no-repeat;
}

.slide-guarantee:after {
	position: absolute;
	content: '';
	width: 468px;
	height: 261px;
	left: 200px;
	top: 45px;
	background-image: url('../img/service_slide02.png');
	background-repeat: no-repeat;
}

.slide-credit:after {
	position: absolute;
	content: '';
	width: 468px;
	height: 261px;
	left: 200px;
	top: 45px;
	background-image: url('../img/service_slide03.png');
	background-repeat: no-repeat;
}

.btn-slide-credit {
	display: inline-block;
	vertical-align: middle;
	margin-top: 20px;
	margin-left: 50px;
}

.service-slider-control-active {
	background-color: #ffffff;
	color: #32425C;
}

.service-slider-control-active:hover {
	background-color: #293449;
	color: #ffffff;
}

.service-slider-control:hover {
	background-color: #293449;
}

.service h3 {
	text-transform: uppercase;
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
}

.transport-companies {
	font-size: 18px;
	list-style: none;
	margin-bottom: 36px;
}

.flex-company {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 20px;
}

.company {
	padding: 0;
	padding-bottom: 61px;
}

.mgb25 {
	margin-bottom: 25px;
	padding-right: 50px;
}

.mgb30 {
	margin-bottom: 30px;
}

.transport-companies li {
	margin-bottom: 20px;
	position: relative;
}

.transport-companies li::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	left: -40px;
	top: 10px;
}

.transport-companies li a {
	color: #000;
}

.btn-about {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 40px;
}

.contacts {
	width: 300px;
}

.map img {
	margin-bottom: 30px;
}

.btn-email {
	display: block;
	margin-top: 6px;
	padding: 10px 60px;
}
/* ******************************КАРТА**************************************** */
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
	display: none;
	position: fixed;
	color: #000000;
	background-color: #565656;
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-show {
  display: block;
  -webkit-animation: move 0.6s;
          animation: move 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-map {
	top: 50%;
	left: 50%;
	width: 940px;
	height: 446px;
	margin-top: -223px;
	margin-left: -470px;
	z-index: 20;
}

.modal-map p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 21;
	margin: 0;
}

.modal-map iframe {
	position: relative;
	z-index: 22;
	border: none;
}

.modal-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	z-index: 23;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 19px;
	height: 3px;
	background-color: #ee3643;
}

.modal-close::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
}

.modal-close::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
}
/*  **************************************************ФОРМА ОТПРАВКИ******************  */
.write-us {
	position: fixed;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	top: 50%;
	left: 50%;
	width: 620px;
	height: 430px;
	margin-top: -215px;
	margin-left: -310px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7),
				inset 0 -100px 0 0 #f4f4f4;
	        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7),
				inset 0 -100px 0 0 #f4f4f4;
	z-index: 25;
	border-top: 5px solid #ff5257;
}

.write-us-form {
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 460px;
	margin-left: 80px;
}

.appointment-item {
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
	line-height: 18px;
	margin-top: 40px;
	margin-bottom: 0;
	width: 220px;
}

.mail {
	margin-top: 0;
}

.mail textarea {
	margin-bottom: 15px;
	padding: 15px;
	width: 425px;
}

.write-us-form p {
	font-size: 18px;
}

.appointment-item input {
	margin-top: 15px;
	-webkit-box-sizing: border-box;
          box-sizing: border-box;
	width: 220px;
	padding: 13px;
}

 .button {
 	display: block;
 	width: 100%;
 	border-radius: 3px;
 	border: 0 none;
 }
/* --------------------------------------------------------------------------- */
.main-footer {
	background-color: #32425c;
	color: #ffffff;
}

.footer-menu a {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
}

.footer-menu a:hover {
	text-decoration: underline;
}

.footer-menu a:active {
	text-decoration: none;
	color: #f1f5f7;
	opacity: 0.5;
}

.logo-footer {
	text-transform: uppercase;
	font-size: 30px;
	color: #ffffff;
	background-color: #EE3643;
	padding: 15px 41px;
	position: relative;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

.footer--menu {
	list-style: none;
	padding: 0;
	margin: 40px 0 0;
}

.footer--menu li {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 55px;
}

.footer--menu li a {
	color: #f3f7f9;
	font-size: 18px;
}

.footer--menu li:hover {
	text-decoration: underline;
}

.footer--menu li:active {
	text-decoration: none;
	opacity: 0.5;
}

.top-menu-wrapper-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.top-menu-middle-footer {
	padding-top: 32px;
	padding-bottom: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer--menu-catalog {
	margin-top: 0;
}

.footer--menu-catalog li a {
	color: #ffd180;
}

.address {
	margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}

.upper-footer-shop-menu a {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.upper-footer-shop-menu a:hover {
	text-decoration: underline;
}

.upper-footer-shop-menu a:active {
	text-decoration: none;
	opacity: 0.5;
}

.lower-footer {
	background-color: #293449;
}

.menu-lower-footer {
	padding-top: 40px;
	padding-bottom: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.copyright-company,
.feedback,
.design-copyright {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	margin: 0;
}

.copyright-company {
	margin: 0;
	font-size: 14px;
	width: 300px;
}

.feedback {
	width: 150px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left: 15px;
}

.design-copyright {
	width: 150px;
  padding-left: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.social-buttons {
	width: 300px;
}

.social--links {
	font-size: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.social--links li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px;
}

.social--links li a {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	background-color: #212a3a;
	border-radius: 50%;
}

.vk a {
	background-image: url('../img/icon-vk.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

.fb a {
	background-image: url('../img/icon-fb.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

.in a {
	background-image: url('../img/icon-insta.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

.social--links li a:hover {
	background-color: #ee3643;
}

.social--links li a:active {
	background-color: #ee3643;
}

.feedback a,
.design-copyright a {
	color: #ffd180;
}

.feedback a:hover {
	text-decoration: underline;
}

.feedback a:active {
	text-decoration: none;
	color: #ee3643;
}

.design-copyright a:hover {
	text-decoration: underline;
}

.design-copyright a:active {
	text-decoration: none;
	color: #ee3643;
}
/* ********************** СТИЛИЗАЦИЯ СТРАНИЦЫ КАТАЛОГА ********************* */
.catalog-upper {
	font-family: 'PT Sans', sans-serif;
}

.active {
	background-color: #ee3643;
}

.breadcrumbs {
	padding: 0;
	margin: 20px 20px 20px 30px;
	position: relative;
}

.breadcrumbs li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	color: #000000;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 20px;
}

.breadcrumbs a {
	color: #000000;
	text-decoration: none;
}

.breadcrumbs:before {
	content: '';
	position: absolute;
	left: -30px;
	top: 3px;
	width: 20px;
	height: 20px;
	background-image: url('../img/icon-home.svg');
	background-repeat: no-repeat;
}

.breadcrumbs li:first-child:before {
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	width: 10px;
	height: 12px;
	background-image: url('../img/icon-right-small.png');
	background-repeat: no-repeat;
}

.breadcrumbs li:first-child:after {
	content: '';
	position: absolute;
	left: 90px;
	top: 5px;
	width: 10px;
	height: 12px;
	background-image: url('../img/icon-right-small.png');
	background-repeat: no-repeat;
}

.breadcrumbs li:last-child:before {
	content: '';
	position: absolute;
	left: 210px;
	top: 5px;
	width: 10px;
	height: 12px;
	background: url('../img/icon-right-small.png');
	background-repeat: no-repeat;
}

.catalog-header {
	background-color: #f2f6f8;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: normal;
	margin: 0;
	padding: 30px 28px;
	margin-bottom: 20px;
	font-family: "Cuprum", "Arial", sans-serif;
}

.makers,
.power-type {
	text-transform: uppercase;
}

.makers h3,
.power-type h3 {
	font-size: 17px;
	color: #000000;
}

.multiselect,
.radioselect {
	font-size: 15px;
	line-height: 20px;
}

.radioselect {
	margin-bottom: 75px;
}

.side-right {
	width: 700px;
}

.side-topbar {
	margin: 0;
	font-family: 'OpenSans', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	background: #f7f3ec;
	padding: 10px 18px;
	margin-bottom: 20px;
	overflow: hidden;
}

.sort-controls {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 12px;
	float: left;
}

.sort-controls li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 64px;
}

.sort-controls li.last {
	margin-right: 0;
}

.sort-controls li a {
	font-size: 12px;
	font-family: 'PTSans', sans-serif;
	color: #acaaa5;
	display: inline-block;
	vertical-align: middle;
	border-bottom: 1px dotted #ee3643;
}
.sort-controls li .sort-option--active a {
	color: #ee3643;
	border-bottom: 1px dotted transparent;
}

.sort-option:hover {
	color: #000000;

}

.btn-filter {
	border: 0 none;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #e5e5e5;
}

.catalog-paginator ul {
	list-style: none;
	font-size: 13px;
	line-height: 18px;
	margin-top: 31px;
	margin-bottom: 70px;
	padding: 0;
}

.catalog-paginator ul li {
	display: inline-block;
	vertical-align: middle;
}

.catalog-paginator ul li span,
.catalog-paginator ul li a {
	display: inline-block;
	vertical-align: middle;
}

.page-button {
	padding: 10px 15px;
	border: 1px solid #e5e5e5;
	margin-right: 9px;
	border-radius: 3px;
	color: #000;
}

.next-page {
	text-transform: uppercase;
	padding: 10px 30px;
}

.page-button-active {
	background-color: #ee3643;
	border: 1px solid #ee3643;
	color: #fff;
	border-radius: 3px;
}

.about-product {
	background-color: #f2f6f8;
	padding-bottom: 68px;
}

.about-product-text-container h2 {
	margin: 0;
	font-family: 'Cuprum', sans-serif;
	font-weight: normal;
	padding-top: 62px;
	padding-bottom: 24px;
}

.about-product-text-container p {
	margin: 0;
}

.left-sidebar {
	width: 220px;
	margin-right: 20px;
}

.flex-catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 225px;
  margin-top: 13px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 30px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 165px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 20px;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.account-name {
	background-color: #fff;
}

.account-name .user {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 0;
	font-size: 21px;
	color: #000;
	margin-right: 70px;
	position: relative;
}

.account-name .user::before {
	content: "";
	width: 20px;
	height: 18px;
	position: absolute;
	background-image: url('../img/icon-user-hover.png');
	background-repeat: no-repeat;
	background-size: cover;
	left: -30px;
	top: 13px;
	opacity: 0.3;
}

.account-name .user::after {
	content: "";
	width: 20px;
	height: 17px;
	position: absolute;
	background-image: url('../img/-icon-logout-hover.png');
	background-repeat: no-repeat;
	background-size: cover;
	right: -59px;
	top: 13px;
	opacity: 0.3;
}

.account-name .user:hover::after, .user:hover::before {
	opacity: 1;
}

.account-name a:hover {
	color: #000000;
}

.account-menu {
	text-align: left;
	padding-top: 7px;
}

.account-menu a {
	font-size: 16px;
	color: #32425c;
	text-decoration: underline;
}

.user-orders {
	margin-left: 18px;
	margin-right: 28px;
	position: relative;
}

.user-orders::after {
	content: "";
	width: 4px;
	height: 4px;
	background-color: #32425c;
	position: absolute;
	right: -19px;
	border-radius: 50%;
	top: 7px;
}

.main-header-catalog {
	margin-bottom: 20px;
}

.side-topbar--title {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	margin: 0;
	line-height: 13px;
	margin-right: 138px;
	float: left;
}
/* ----------------------------ФОРМА ПОКУПКИ --------------------------------- */
.popup-ok {
	position: fixed;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	top: 50%;
	left: 50%;
	width: 620px;
	height: 275px;
	margin-top: -137px;
	margin-left: -310px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7),
				inset 0 -100px 0 0 #f4f4f4;
	        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7),
				inset 0 -100px 0 0 #f4f4f4;
	z-index: 25;
	border-top: 5px solid #ff5257;
	display: none;
}

.popup-ok h2 {
	text-transform: none;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 95px;
	position: relative;
}

.popup-ok h2::before {
	position: absolute;
	content: '';
	width: 66px;
	height: 66px;
	background-image: url('../img/form-1.svg');
	background-repeat: no-repeat;
	background-size: cover;
	left: 70px;
	top: -10px;
	z-index: 26;
}

.btn-popup {
	width: 460px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-left: 85px;
}

.btn-popup-ok {
	padding-left: 60px;
	padding-right: 60px;
}

.btn-popup-order {
	background-color: #ffffff;
	color: #000000;
}

.sorting-arrows {
	font-size: 0;
	float: right;
	width: 43px;
	
}

.sort-down  {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: 0;
	top: 0;
}

.sort-down::before {
	content: '';
	position: absolute;
	border-bottom: 10px solid #ee3643;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 0;
	left: -20px;
}

.sort-up {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	
}

.sort-up::after {
	content: '';
	position: absolute;
	border-top: 10px solid #c5c5c5;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 0;
	right: -20px;
}

.makers {
	margin-top: 28px;
	border-top: 1px solid #ccc;
}

.power-type {
	margin-top: 20px;
	border-top: 1px solid #ccc;
}

.checkbox-style {
	display: inline-block;
	vertical-align: top;
	width: 23px;
	height: 23px;
	background-image: url('../img/checkbox-off.svg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 10px;
}

.checkbox input:checked + label .checkbox-style {
	background-image: url('../img/checkbox-on.svg');
}

.checkbox label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.checkbox input {
	display: none;
}

.makers h3 {
	margin-bottom: 12px;
}

.checkbox {
	margin-bottom: 17px;
}

.radio-style {
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 25px;
	background-image: url('../img/radio-off.svg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 10px;
}

.checkbox input:checked + label .radio-style {
	background-image: url('../img/radio-on.svg');
}

.power-type h3 {
	margin-bottom: 10px;
}

.btn-filter {
	padding: 12px 34px;
	cursor: pointer;
}

.btn-filter:hover {
	color: #fff;
}