/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
	font-family: 'Open Sans', sans-serif;
	color: #404040;
	background: #f9f9f9;
}

header {
	background: url(../images/header-bg.jpg) center center no-repeat;
	color: #fff;
	text-align: center;
	background-size: cover;
	padding:135px 20px 90px 20px;

}
header h1 {
	font-size: 3.75em;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 25px;

}
header h3 {
	font-size: 1.125em;
	margin-bottom: 50px;
	font-style: italic;
}
header p {
	font-size: 0.75em;
}

.subscribe {
	background: rgba(0, 0, 0, 0.65);
	display: table;
	padding: 15px;
	margin: 0 auto 0 auto;
	border-radius: 5px;

}

.subscribe input {
	float: left;

}

.subscribe input[type="text"], .subscribe input[type="email"] {
	padding: 0px;
	border: none;
	width: 320px;
	margin-right: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	padding: 12px 20px 13px 20px;
	box-sizing: border-box;
}
.subscribe input[type="submit"] {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700; 
	color: #fff;
	background: #ae2c52;
	border: none;
	font-size: 1.25em;
	padding: 10px 35px;
	cursor: pointer;

}

article {
	max-width: 900px;
	margin: 0 auto;
	padding: 50px 20px
}

article h1 {
	font-size: 3em;
	text-align: center;
	margin-bottom: 25px;
}

article p {
	margin-bottom: 30px;

}

.imgleft {
	margin: 0px 30px 20px 0px;
	float: left;
}

@media screen and (max-width: 950px) {
	.subscribe input[type="text"], .subscribe input[type="email"] {
		width: 260px;
	}
}

@media screen and (max-width: 820px) {
	.subscribe input[type="text"], .subscribe input[type="email"] {
		width: 320px;
		display: block;
		float: none;
		margin-right: 0;
		margin-bottom: 10px;
	}

	header {
		padding: 30px 20px;
	}
	header h1 {
		font-size: 2.75em;
		margin-bottom: 20px;
	}
	header h1 {
		margin-bottom: 25px;
	}

}
@media screen and (max-width: 400px) {
	.subscribe input[type="text"], .subscribe input[type="email"] {
		width: 320px;
	}
}
